@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.cal {
  max-width: 177px;
  margin: 0 auto;
  font-family: 'Droid Sans Mono';
}
.cal .clndr .clndr-controls {
  display: block;
  display: inline-block;
  width: 100%;
  margin-bottom: 3px;
}
.cal .clndr .clndr-controls .clndr-previous-button {
  float: left;
  width: 10%;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-juser-select: none;
}
.cal .clndr .clndr-controls .clndr-previous-button:hover {
  background-color: #f4f4f4;
}
.cal .clndr .clndr-controls .month {
  float: left;
  width: 80%;
  text-align: center;
}
.cal .clndr .clndr-controls .clndr-next-button {
  float: left;
  width: 10%;
  text-align: right;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.cal .clndr .clndr-controls .clndr-next-button:hover {
  background-color: #f4f4f4;
}
.cal .clndr .clndr-grid {
  text-align: center;
  border: 1px solid #FF4545;
  display: inline-block;
}
.cal .clndr .clndr-grid .header-day {
  float: left;
  width: 25px;
  height: 25px;
  background: #FF4545;
}
.cal .clndr .clndr-grid .day {
  float: left;
  width: 25px;
  height: 25px;
}
.cal .clndr .clndr-grid .day.event {
  background-color: #B4E09F;
}
.cal .clndr .clndr-grid .day.today {
  background-color: #E3C57F;
}
.cal .clndr .clndr-grid .empty {
  float: left;
  width: 25px;
  height: 25px;
  background: #ddd;
}
