!!! 5
%html
  %head
    %title
      CLNDR.js Sample
    %link(type="text/css" href="css/main.css" rel="stylesheet")
  %body
    %a(href="http://google.com")
      Master Google
    %a(href="javascript:void(0)" onClick="addEvent()")
      Test
    .cal
      %script(type="text/template" id="template-calendar")
        .clndr-controls
          .clndr-previous-button
            &lsaquo;
          .month
            <%= month %>
          .clndr-next-button
            &rsaquo;
        .clndr-grid
          .days-of-the-week
            <% _.each(daysOfTheWeek, function(day) { %>
            .header-day
              <%= day %>
            <% }); %>
          .days(ondragover="onDragOver(event)" ondrop="onDrop(event)")
            <% _.each(days, function(day) { %>
            :plain
              <div class="<%= day.classes %>" id="<%= day.id %>">
                <%= day.day %>
              </div>
            <% }); %>
    %script(src="js/jquery.min.js")
    %script(src="js/moment.min.js")
    %script(src="js/underscore.min.js")
    %script(src="js/clndr.min.js")
    %script(src="js/xmlhttp.js")
    %script(src="js/loadevent.js")
    %script(src="js/ddregist.js")
    :javascript
      $(document).ready( function() {
        var thisYear = moment().format('YYYY');
        var thisMonth = moment().format('MM');
        var eventList = loadEvent(thisYear, thisMonth);
        var clndr = $('.cal').clndr({
          template: $('#template-calendar').html(),
          events: eventList,
          startsWithMonth: moment().add('month', 0),
          clickEvents: {
            click: function(target) {
              console.log(target);
            }
          }
        });

        $(document).keydown( function(e) {
          if(e.keyCode == 37){
            // left arrow
            clndr.back();
          }
          if(e.keyCode == 39){
            // right arrow
            clndr.forward();
          }
        });
      });
    :javascript
      function addEvent(){
        console.log("call php");
        $.ajax({
          type: "GET",
          url: "/test.php",
        });
      };
